.ruta {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 15px black;
  align-items: center;
}

span{
  margin: 0px 24vw 0px 10vw;
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;

}
